.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #090202;
  padding: 20px 50px;
}

.countdown-value {
  font-size: 24px;
  font-weight: bold;
  color: #f3eded;
}

.countdown-label {
  color: #f2ecec;
}

.countdown-detail {
  color: #fbf7f7;
  font-size: 25px;
}

.countdown-sale {
  text-align: center;
}
