.outline-star {
    font-size: 16px;
}

.reviewForm{
    padding: 15px 30px 30px 30px;
}



.rating-form {
    font-size: 16px;
}

.rating-form input[type="text"],
.rating-form input[type="email"] {
    font-size: 16px;
    height: 20px;;
}

.star {
    cursor: pointer;
    font-size: 16px;
}

.comment-form-info{
    display: flex;
}
.comment-form-name{
    padding-right:15px;
    margin: 0px 0px 8px;
}
.comment-form-email{
    padding-left:15px;
    margin: 0px 0px 8px;
}

button[type="submit"] {
    padding: 8px 16px;
    background-color: #d77da0;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #b96d8a;
}

h2,
h3 {
    margin-top: 20px;
    font-size: 1.25em;;
}

h3 {
    margin-bottom: 10px;
}

.reviewForm{
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.rating-summary {
    border: 1px solid #b96d8a;
    width: 600px;
    padding: 20px;
    margin: 30px;
    height: 65vh;
  }