.slide-container {
  height: 400px; /* Đặt kích thước cao cho slide container */
  border-radius: 50px;
  text-align: center;
  color: rgb(215, 125, 160);
}

.slide-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 50px;
}
