.banner {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* width: 100%; */
}
video {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  height: 100%;
}

.conten-banner {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 100px;
}
