.logo img {
  width: 200px;
}

.sticky-header {
  background-color: rgb(255, 255, 255);
  position: sticky;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 21;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.nav-icon {
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 15px;
}

.cart {
  position: relative;
}
.header {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  width: 186px;
}

.icon-menu {
  color: #d77da0;
  font-size: 30px;
  cursor: pointer;
}
.quantity-cart {
  color: #ffff;
  background-color: #d77da0;
  border-radius: 50%;
  width: 25px;
  line-height: 25px;
  text-align: center;
  position: absolute;
  top: -18px;
  right: -26px;
}

.use-btn {
  background-color: #d77d9f00;
  border: none;
}

.use-btn:hover {
  background-color: #d77d9f00;
  border: none;
}

.use-btn:focus {
  box-shadow: 0 0 0 0.2rem #d77da0;
}
