.menu-item {
  width: 100%;
  text-align: center;
}

.btn-secondary {
  background-color: rgba(230, 5, 5, 0);
  border: none;
  width: 100%;
}

.btn-secondary:hover {
  background-color: #d77d9fc2;
}

.dropdown-menu {
  width: 100%;
  text-align: center;
  background-color: #d77d9fc2;
  border: none;
}

.btn.show {
  background-color: #d77d9fc2;
}

.dropdown-item {
  color: #fff;
}
